<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Timetable</title>
        <link rel="stylesheet" href="/style.css">
        <script type="text/javascript" src="/scripts.js"></script>
    </head>
    <body>
<div style="margin-left: auto; margin-right: auto">
        <form>
               <legend>Groups</legend>
               <p>
                  <select id = "groups" onchange="location = this.value;">
                    {% for group in groups -%}
                    <option value='/lessons/group/{{ group.id }}'>{{ group.name }}</option>
                    {%- endfor %}
                  </select>
               </p>
         </form>

         <form>
            <legend>Students</legend>
            <p>
               <select id = "students" onchange="location = this.value;">
                 {% for student in students -%}
                 <option value='/lessons/student/{{ student.id }}'>{{ student.name }}</option>
                 {%- endfor %}
               </select>
            </p>
      </form>

      <form>
        <legend>Lecturers</legend>
        <p>
           <select id = "lecturer" onchange="location = this.value;">
             {% for lecturer in lecturers -%}
             <option value='/lessons/lecturer/{{ lecturer.id }}'>{{ lecturer.name }}</option>
             {%- endfor %}
           </select>
        </p>
  </form>
</div>
    </body>
</html>